
body{
    --bg-color: #212D33;
    --bg-card: #414B50;
    --color: white;
    --border-color: #65AECF;
    --primary-color: #65AECF;

    background-color: var(--bg-color);
    color: var(--color);
    margin: 0;

    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
}

.home-bg{
    position: fixed;
}
.info-section{
    min-height: 50vh;
    display: grid;
    padding: 20px 75px 20px 75px;
    position: relative;
    margin-bottom: 60px;

    h1{
        margin-top: 50px;
        font-size: 60px;
        top: 100px;
        position: sticky;
        height: 60px;
    }
    .card{
        background-color: transparent;
    }
    .stack-card:hover{
        border-color: transparent;
        transform: scale(1.05);
    }
    .card:hover{
        border-color: transparent;
        transform: scale(1.05);
    }
    .card p{
        padding: 0 60px;
        position: sticky;
        top: 100px;
        padding-top: 20px;
        font-size: 30px;
        color: var(--color);
    }
    /* .card{
        background-size: 200% 100%; 
        background-image: 
                          radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
                          -webkit-background-clip: text, border-box;
                          background-clip: text, border-box; 
                          color: transparent; 
    } */
}
.info-section.left{
    grid-template-columns: 1fr 3fr;
    h1{
        margin-left: 30px;
    }

}
.info-section.right{
    grid-template-columns: 3fr 1fr;
    h1{
        margin-left: auto;
        margin-right: 30px;
    }
}

.header{
    background-color: #212d33bf;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    padding: 10px;
    margin-bottom: 60px;
    text-align: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    z-index: 999;

    /* display: flex;
    padding: 4px 12px;
    height: 60px;
    align-items: center;
    z-index: 999; */
}

/* .main-nav{
    margin-left: auto;
    font-weight: 600;
    color: var(--color);
}
.main-nav ul{
    list-style-type: none;
}
.main-nav ul li{
    display: inline;
    padding: 10px;
}
.main-nav ul li a{
    text-decoration: none;
    color: white;
    background-color: transparent;
} */

.et-button{
    background-color: inherit;
    color: var(--color);
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;

    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.et-button:hover{
    transform: scale(1.05);
    background-color: red;
}

.project-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 2px 0px rgba(195, 195, 195, 0.725);

    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
}
.project-btn:hover{
    transform: scale(.99);
    box-shadow: none;
}

.et-button:hover{
    background-color: var(--bg-card);
}

/* @media only screen and (max-width: 600px) {
    .collapsible-nav{
        display: block !important;
    }
    .main-nav{
        display: none;
    }
} */

@media only screen and (max-width: 1200px) {
    .stack-container{
        grid-template-columns: minmax(0, 1fr) !important;
    }
}

@media only screen and (max-width: 1200px)  {
    .info-section{
        width: 90vw;
        display: flex !important;
        padding: 5px 10px;
        flex-direction: column;

        font-size: small;

        &.right{
            flex-direction: column-reverse;
        }
        h1{
            position: relative;
            top:0;
            /* text-align: left;
            margin: 0 !important; */
            padding-bottom: 6px;
        }
        .card p{
            padding: 0 5px;
        }
    }
}

#logoSmallBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    aspect-ratio: 3/1;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: large;
    background-image: url("./assets/images/logoBackground.jpg");
}


@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}


.card{
    padding: 20px;
    margin: 10px 10px 50px 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: var(--bg-card);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.stack-container{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.stack-container .stack-card{
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.stack-card h2{
    margin: 0 0 20px 0;
    padding: 0;
}
.stack-card ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.stack-card ul li{
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    margin: 10px;
    text-align: center;
}

.stack-card ul li {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 5px rgba(101, 174, 207, 0.06), 
    0px 7px 9px rgba(101, 174, 207, 0.12), 
    0px 20px 25px -8px rgba(101, 174, 207, 0.18);

}

a{
    text-decoration: none;
    color: var(--color);
}
a:hover{
    text-decoration: underline;
}

.shadow-6{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);
}

.reset-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    margin: -50px 15px 10px auto;

    transition: all 0.3s ease-in-out;
    text-decoration: none;
    z-index: 4;
}

@keyframes cardAnim {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

#tech-stack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#tech-stack-container{
    height: 100;
    margin: 0;
}

.progress-bar-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
  }

  #progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
  }

  #welcome-message{
    opacity: 0;
    font-size: 3em;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
    text-align: center;
  }

  .stack-element{
    /* -webkit-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite; */
  }


  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



  
  @media(hover: hover){
    .glow-on-hover:before {
        content: '';
        /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
        background: linear-gradient(45deg, rgba(0,0,0,0) 38%, rgba(255,255,255,1) 46%, rgba(0,0,0,0) 55%);
        /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 69%, rgba(255,255,255,1) 73%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 94%); */
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        border: none;
      }
      
      .glow-on-hover:active {
      }
      
    .glow-on-hover:hover:before {
        opacity: 1;
      }
      
      .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(-bg-card);
        left: 0;
        top: 0;
        border-radius: 10px;
      }
  }


  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0;}
    100% { background-position: 0 0; }
  }